<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="f-about single-footer">
                        <div class="logo">
                            <a href="/paginainicial"><img src="/logo.png"></a>
                        </div>
                        <p>Sua plataforma para gerenciar e organizar informações acadêmicas de alunos de forma simples e
                            eficiente.</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer sm-custom-border f-link">
                        <h3>Serviços Acadêmicos</h3>
                        <ul>
                            <li><a href="#">Painel de Controle</a></li>
                            <li><a href="#">Gerenciar Matrículas</a></li>
                            <li><a href="#">Cadastrar Disciplinas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer sm-custom-border f-link">
                        <h3>Ações Rápidas</h3>
                        <ul>
                            <li><a href="javascript:void(0)"
                                    onclick="window.location.href='/visualizaraluno'">Visualizar Aluno</a></li>
                            <li><a href="javascript:void(0)" onclick="window.location.href='/inseriraluno'">Inserir
                                    Aluno</a></li>
                            <li><a href="javascript:void(0)" onclick="window.location.href='/listaralunos'">Listar
                                    Alunos</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer footer-newsletter">
                        <h3>Newsletter</h3>
                        <p>Assine nossa newsletter para receber as últimas atualizações.</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-form">
                            <input name="EMAIL" placeholder="Email" class="common-input" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Email'" required="" type="email">
                            <div class="button">
                                <button class="btn">Inscrever agora</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>